<h1>Bootstrap starter template</h1>
<p>Use this document as a way to quick start any new project.<br> All you get is this message and a barebones HTML document.</p>

<% if @word_list != nil %>
<div class="row">
	<div class="span6">
		<h3>Input</h3>
		<div class="span12">
			<div class="well">
				<%= @word_list %>
			</div>
		</div>

		<% if @output == [] %>
			<h3>Output</h3>
			<div class="span12">
				<div class="well">
					There is no solution.
				</div>
			</div>
		<% else %>
			<h3>Output</h3>
			<div class="span12">
				<div class="well">
					Solution: <%= @output.inspect %>
				</div>
			</div>
		<% end %>

	</div>
</div>
<% end %>

<div class="row">
	<div class="span6">
		<div class="well">
			<%= form_tag do %>
			  <%= label_tag(:q, "Word List (separated by newline or space):") %> <br />
			  <%= text_area_tag(:q, @input, :size => '30x15') %>
			  <%= submit_tag("Submit", :class => "btn btn-large btn-primary") %>
			<% end %>
		</div>
	</div>
</div>