<h1>Tomb Door Puzzle Solver</h1>
<p>
There are a large number of magnetic plates on the floor leading 
to the doors. Every plate has one word written on it. The plates 
must be arranged into a sequence in such a way that every word 
begins with the same letter as the previous word ends. For example, 
the word ream can be followed by the word motorola.
</p>

<p>
Input a list of words into the solver below and press submit.  The solver
will tell you whether or not the words can be arranged in such a fashion.
<p>

<% if @word_list != nil %>
<div class="row">
	<div class="span6">
		<h3>Input</h3>
		<div class="span12">
			<div class="well">
				<%= @word_list.join(" ") %>
			</div>
		</div>

		<% if @output == [] %>
			<h3>Output</h3>
			<div class="span12">
				<div class="well">
					There is no solution.
				</div>
			</div>
		<% else %>
			<h3>Output</h3>
			<div class="span12">
				<div class="well">
					Solution: <%= @output.join(" ") %>
				</div>
			</div>
		<% end %>

	</div>
</div>
<% end %>

<div class="row">
	<div class="span6">
		<div class="well">
			<%= form_tag do %>
			  <%= label_tag(:q, "Word List (separated by newline or space):") %> <br />
			  <%= text_area_tag(:q, @input, :size => '30x15') %>
			  <%= submit_tag("Submit", :class => "btn btn-large btn-primary") %>
			<% end %>
		</div>
	</div>
	<div class="span6">
		<h4>View Source</h4>
		The source code for this project is hosted on GitHub.
		<a class="btn btn-danger btn-large" href="https://github.com/justinwyne/tomb_door/zipball/master">
    	    	<i class="icon-download-alt"></i>
        		Download Source (.zip)</a>
		<a class="btn btn-primary btn-large" href="https://github.com/justinwyne/tomb_door">
			View on Github
		&raquo;</a>
	</div>
</div>